@import url("https://fonts.googleapis.com/css2?family=Concert+One&display=swap");

//colors
$yellowDark: #baa235;
$green: #25b883;
$greenDark: #2a9173;
$red: #fb2d47;

// html
html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

// body
.body {
  margin: 0;
  padding: 0;
}

// main - game
.birdGame {
  display: flex;
  align-items: center;
  flex-direction: column;
}

// header
.birdGame-header {
  color: black;
  font-family: "Concert One", cursive;
  text-align: center;
  width: 100%;
  line-height: 20px;
  margin: 0;
  padding: 0;
  background: $red;
  &__title {
    font-size: 60px;
  }
  &__description {
    font-size: 40px;
  }
  &__span {
    color: white;
  }
}

// game - area
.birdGame-area {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin: 0;
  height: 500px;
  background: $greenDark;
  &__button {
    font-family: "Concert One", cursive;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    font-size: 30px;
    border-radius: 50px;
    outline: none;
    width: 100px;
    height: 100px;
    border: none;
    background: $green;
    color: white;
  }
  &__img {
    width: 90px;
    height: 90px;
    margin: 0;
    padding: 0;
    border-radius: 90px;
  }
}
