// html
html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

// body
.body {
  margin: 0;
  padding: 0;
}

// main - game
.birdGame {
  background: burlywood;
  display: flex;
  align-items: center;
  flex-direction: column;
}

// header
.birdGame-header {
  text-align: center;
  width: 100%;
  margin: 0;
  padding: 0;
  background: tomato;
  &__title {
    font-size: 24px;
  }
  &__description {
    font-size: 16px;
  }
  &__span {
    color: white;
  }
}

// game - area
.birdGame-area {
  width: 500px;
  height: 500px;
  background:coral;
  &__button {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    border-radius: 50px;
    outline: none;
    width: 100px;
    height: 100px;
    border: none;
    color: black;
  }
  &__img {
    width: 90px;
    height: 90px;
    margin:0;
    padding:0;
    border-radius:90px;
  }
}
