@import url("https://fonts.googleapis.com/css2?family=Concert+One&display=swap");
html {
  box-sizing: border-box; }

*,
*:before,
*:after {
  box-sizing: inherit; }

.body {
  margin: 0;
  padding: 0;
  background-color: #2a9173; }

.birdGame {
  display: flex;
  align-items: center;
  flex-direction: column; }

.birdGame-header {
  border: 1px solid #fb2d47;
  transition: 2s;
  color: white;
  font-family: "Concert One", cursive;
  text-align: left;
  width: 100%;
  line-height: 20px;
  margin: 0;
  padding: 0 10px;
  background: url("/bird_bg.jpg") center;
  background-size: cover;
  text-shadow: 1px 2px 2px #000000; }
  .birdGame-header__title {
    font-size: 40px; }
  .birdGame-header__description {
    font-size: 20px; }
  .birdGame-header__span {
    color: #fb2d47; }

.header--small {
  line-height: 5px; }

.birdGame-area {
  border: 1px solid #25b883;
  width: 90%;
  padding: 20px;
  margin: 25px;
  height: 60vh; }
  .birdGame-area__button {
    margin: 0;
    font-family: "Concert One", cursive;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    font-size: 20px;
    border-radius: 50px;
    outline: none;
    width: 50px;
    height: 50px;
    border: none;
    background: #25b883;
    color: white; }
  .birdGame-area__img {
    width: 46px;
    height: 46px;
    margin: 0;
    padding: 0;
    border-radius: 90px; }
